future
emoji
lxml
umongo==3.0.0
uuid
wget
typing
gtts
tracemoepy
beautifulsoup4
dispatcher
zerochan
requests
python-telegram-bot==13.13
SQLAlchemy==1.4.35
psycopg2-binary
aiofiles
ffmpeg
pymongo
feedparser
faker
fontTools
hachoir
humanize
pykeyboard
pynewtonmath
ffmpeg-python
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp
Pillow
redis==4.1.1
CurrencyConverter
googletrans
google-trans-new
jikanpy
speedtest-cli
coffeehouse
regex
bleach
wikipedia
markdown2
telethon
telegraph
heroku3
spamwatch
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
pygithub
TgCrypto
pyrogram==1.4.16

git+https://github.com/Sorrybabe/downloader
youtube_search_python
youtube_search
lyrics_extractor
asyncio
cloudscraper
dateparser
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
redis
pySmartDL
bing_image_downloader
search_engine_parser
pytz
jikanpy
tswift
python-arq
envparse
#profanity (Credits to Julia)
better_profanity
textblob 
nudepy
nekos.py
motor
gpytranslate
opencv-python-headless
odmantic
tzlocal
pendulum
fuzzysearch
img2pdf
multicolorcaptcha
git+https://github.com/python-telegram-bot/ptbcontrib.git
pytimeparse
PyYAML>=5.3.1
numpy
wikipedia
httpx
animeflv
